html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}
.bookmarkScreen{
    background-color: #EEEEEE;
}
.megaTable{
    background-color: #EEEEEE;

}
a{
    text-decoration: none !important;
    color: white; 
}